.adcard {
  grid-column: center-start/center-end-;
  color: aqua;
  display: grid;
  grid-template-columns: auto auto; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif;
  color: #6d5d4b;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 4vh 6vh 50vh repeat(7, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.features {
  grid-column: center-start / center-end;
  margin: 10rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 5rem; }

.forms {
  grid-column: center-start/center-end; }
  .forms .heading1 {
    width: 40rem;
    height: 33px;
    margin: 0px auto;
    font-family: Rubik;
    font-size: 3rem;
    font-weight: 500;
    align-items: center;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.8px;
    text-align: center;
    color: #000000; }
  .forms .mhcet {
    display: grid;
    grid-column: center-start/center-end;
    height: 20vh;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); }
  .forms .contentMchet {
    display: grid;
    grid-template-columns: 1.3fr 2fr 2fr;
    border: 1px solid black; }
    .forms .contentMchet .image {
      background-color: red; }
    .forms .contentMchet .examinationDate {
      background-color: blue; }
    .forms .contentMchet .daysLeft {
      background-color: green; }

.header {
  grid-column: full-start/full-end;
  background-image: url("../images/career-opportunities-header.png"); }

.mainnav {
  padding: 0.2rem 2rem;
  grid-column: full-start/full-end;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }
  .mainnav a {
    width: 11rem;
    height: 1rem;
    font-family: rubik;
    font-size: 1.2rem;
    color: #4a4a4a;
    text-decoration: none;
    padding: 1rem 0; }
  .mainnav .logo {
    margin-right: auto;
    width: 10%;
    height: 100%; }
  .mainnav .topbtn {
    background-color: #f08143;
    color: white;
    padding: 0 1rem; }

.topnav {
  padding: 0.2rem 2rem;
  grid-column: full-start/full-end;
  background-color: #134a7a;
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }
  .topnav a {
    width: 11rem;
    height: 1rem;
    font-family: Lato;
    font-size: 1.2rem;
    color: #ffffff;
    text-decoration: none; }
  .topnav a:first-child {
    margin-right: auto; }

.heading-3 {
  width: 36rem;
  height: 3rem;
  font-family: Rubik;
  font-size: 2rem;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.8px;
  color: #000000; }

.heading-2 {
  width: 20rem;
  height: 2rem;
  font-family: Rubik;
  font-size: 1.2rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000; }

p {
  width: 44rem;
  height: 10.8rem;
  font-family: Lato;
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.59;
  letter-spacing: normal;
  color: #4a4a4a; }

.heading-3 {
  width: 36rem;
  height: 3rem;
  font-family: Rubik;
  font-size: 2rem;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.8px;
  color: #000000; }

.heading-2 {
  width: 20rem;
  height: 2rem;
  font-family: Rubik;
  font-size: 1.2rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000; }

p {
  width: 44rem;
  height: 10.8rem;
  font-family: Lato;
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.59;
  letter-spacing: normal;
  color: #4a4a4a; }
